.get-in-touch,.portfolio {
  margin-top: 50px;
}
h1 {
  font-family: 'Audiowide';
}
.ml5 {
    position: relative;
    font-weight: 300;
    font-size: 4.5em;
    color: #402d2d;
    font-family: 'Audiowide', cursive;
  
  }
.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}
  
*, a:hover { color:#fff; text-decoration: none;}
  
.footer {
  margin-top: 60px;
}
html,
body {
    margin:0;
    padding:0;
    height:100%;
    background: url('/assets/images/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Ubuntu';
  text-align: center;
  color:#fff;
}
#container {
    min-height:100%;
    position:relative;
    height:100%;
}
#header {
    padding:10px;
}
#body {
  padding-bottom:20px;
}